{% extends "base.html" %}
{% block content %}
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}

<table style="width:100%">
  <tr>
    <th>company name</th>
    <th>Internal Reference</th>
    <th>Supplier Reference</th>
    <th>Gross Amount</th>
  </tr>
  <tr>
    {% FOR INVOICE IN INVOICES %}
    <td>{{invoice.company.name}}</td>
    <td>{{invoice.internal_reference}}</td>
    <td>{{invoice.supplier_reference}}</td>
    <td>{{invoice.gross_amount}}</td>
    {% ENDFOR %}
  </tr>
</table>

{% endblock %}